{*
    @param string $prefix     Global prefix
    @param string $title      Action name
    @param string $subject    Action subject
*}

<a href="#modal_{$prefix}" class="waves-effect waves-light blue darken-1 btn modal-trigger"><i class="material-icons left">add</i>{$title} {$subject}</a>
