{*
    @param string $prefix     Global prefix
    @param string $title      Action name
    @param string $subject    Action subject
*}

<a href="#modal_{$prefix}" class="modal-trigger">{$title}</a>
