
header {
    > .nav-extended {
        padding-left: 53px;
        
        > .nav-wrapper,
        > .nav-content {
            min-height: 62px;
            padding: 0 20px;
        }
        
        .logout_link {
            font-weight: bold;
        }
        
        .back_link,
        .back_link * {
            font-size: 1.5rem;
        }
        
        .back_link > i {
            display: inline;
            position: relative;
            top: 4px;
            margin-right: 6px;
        }
    }
    
    > .sidenav {
        width: 53px;
        
        > li {
            > a {
                padding: 8px 16px;
                height: 64px;
                
                > i {
                    color: white !important;
                    margin-left: -2px !important;
                }
            }
        }
    }
}

main {
    > .card {
        margin: 15px 15px 15px calc(15px + 53px);
        
        > .card-content {
            padding: 11px;
            
            .actions-main {
                margin: 11px 0 20px 16px;
                
                > a {
                    text-transform: uppercase;
                }
            }
        }
    }
}

table {
    thead {
        tr {
            background-color: #F5F5F5;
            border: 1px solid #E0E0E0;
        }
        
        th {
            color: #9E9E9E;
            padding: 13px 8px;
            
            > a {
                color: #BDBDBD;
                
                &.active {
                    color: #098BE0 !important;
                }
                
                > i {
                    display: inline;
                    position: relative;
                    top: 4px;
                }
            }
        }
    }
    
    tbody {
        tr {
            background-color: #FFFFFF;
            border: 1px solid #E0E0E0;
        }
        
        td {
            color: #000000;
            padding: 16px 8px;
            
            > a {
                color: #E0E0E0;
            }
        }
    }
}

.pagination {
    a {
        > i {
            display: inline;
            position: relative;
            top: 2px;
            color: #098BE0;
        }
        &.active {
            text-decoration: underline #098BE0 2px;
            text-underline-offset: 6px;
        }
    }
    
    .spacer {
        position: relative;
        top: 6px;
    }
}
